#homepage {
  font-family: 'Aial', sans-serif;
  text-align: center;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
  }

.menu{
  width: 50%;
}

.contenu {
    width: 85%;
}

.tab {
    margin-top: 30px;
}

img {
      width: 40%;
}

th{
    text-align: center;
}

td {
  width: 20% ;
  text-align : center;
    }

#sidebar{
  width:25%;
  background:#bbb;
  border-radius:5px;
  margin-top: 30px;
  text-align: left;
}

.top3{
  color:#4e5bf0;
  font-size: 15px;
  font-weight: bold;
}

.contact{
  width:80%;
  }
  
#foot{
    margin-top: 60px;
    background-color: #aac2ce;
}






.stagiaires{
  text-transform: capitalize;
}

.fail {
  color: red;
}

.erreur {
  color: orange;
}

.echec {
  color: pink;
}

.sconfitta {
  color: brown;
}
